@page
@model Academy.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>

    div .create-new-link {
        color: purple;
    }

        div .create-new-link:hover {
            color: darkorchid;
        }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #4B0082;
    }
    h4 {
        color: #7B68EE;
    }

    dt {
        color: #4682B4;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.first_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.first_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.middle_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.middle_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.birth_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.birth_date)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.photo)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.stud_id" class="create-new-link">Edit</a> |
    <a asp-page="./Index" class="create-new-link">Back to List</a>
</div>
