@page
@model Academy.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>

    p .create-new-link {
        color: purple;
    }

        p .create-new-link:hover {
            color: darkorchid;
        }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #4B0082;
    }

    p {
        text-align: center;
    }

    th {
        color: #4169E1;
    }
</style>


<h1>Index</h1>

<p>
    <a asp-page="Create" class="create-new-link">Create new student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].middle_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].birth_date)
            </th>
        @*     <th>
                @Html.DisplayNameFor(model => model.Student[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].photo) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middle_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birth_date)
            </td>
       @*      <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td> *@
@*             <td>
                @Html.DisplayFor(modelItem => item.photo)
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.stud_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.stud_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.stud_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
